[submodule "monty"]
	path = monty
	url = git@github.com:madhavajay/monty.git
	branch = madhava/bioscript
[submodule "noodles"]
	path = noodles
	url = git@github.com:madhavajay/noodles.git
	branch = madhava/bioscript
[submodule "vendor/python/pysam"]
	path = vendor/python/pysam
	url = https://github.com/pysam-developers/pysam.git
[submodule "vendor/python/pyfaidx"]
	path = vendor/python/pyfaidx
	url = https://github.com/mdshw5/pyfaidx.git
[submodule "ports/vntyper/vntyper"]
	path = ports/vntyper/vntyper
	url = https://github.com/madhavajay/VNtyper.git
[submodule "ports/vntyper/kestrel"]
	path = ports/vntyper/kestrel
	url = https://github.com/paudano/kestrel.git
[submodule "ports/vntyper/kescases"]
	path = ports/vntyper/kescases
	url = https://github.com/paudano/kescases.git
[submodule "vendor/rust/kestrel-rs"]
	path = vendor/rust/kestrel-rs
	url = git@github.com:madhavajay/kestrel-rs.git
[submodule "vendor/rust/htslib-rs"]
	path = vendor/rust/htslib-rs
	url = git@github.com:madhavajay/htslib-rs.git
	branch = main
[submodule "vendor/rust/bcftools-rs"]
	path = vendor/rust/bcftools-rs
	url = git@github.com:madhavajay/bcftools-rs.git
[submodule "vendor/rust/samtools-rs"]
	path = vendor/rust/samtools-rs
	url = git@github.com:madhavajay/samtools-rs.git
